In [31]:
import pandas as pd

In [5]:
df = pd.read_csv("data/Foundations.csv")

C:\Users\carly\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (0,12,13,14,15,16,17,18,20,22,24,26,36,37,38,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df_grants = pd.read_csv("data/Grants.csv")

C:\Users\carly\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (0,6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
df_grants.head()
#df_grants.info()

,For non-commercial use only,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,EIN,Foundation name,Grantee,City,State,Purpose,Amount,Paid,Future pay,Tax period 990-PF
1,815247126,AARDVARK FAMILY FOUNDATION,KIDS LIFE,SHERIDAN,WY,GENERAL DONATION,1000,True,NaN,201812
2,815254669,MANHEE KOJU FOUNDATION,GREAT GRACE PRESBYTERIAN CHURCH,LOS ANGELES,CA,TITHE,43000,True,NaN,201812
3,815254669,MANHEE KOJU FOUNDATION,KOREA TOWN SENIOR AND COMMUNITY CENTER,LOS ANGELES,CA,DONATION,2000,True,NaN,201812
4,815254669,MANHEE KOJU FOUNDATION,SHRINERS FOR CHILDREN MEDICAL CENTE,PASADENA,CA,DONATIONS,5000,True,NaN,201812

In [12]:
new_header = df_grants.iloc[0]
df_grants = df_grants[1:]
df_grants.columns = new_header

In [13]:
df_grants.head()

,EIN,Foundation name,Grantee,City,State,Purpose,Amount,Paid,Future pay,Tax period 990-PF
1,815247126,AARDVARK FAMILY FOUNDATION,KIDS LIFE,SHERIDAN,WY,GENERAL DONATION,1000,True,NaN,201812
2,815254669,MANHEE KOJU FOUNDATION,GREAT GRACE PRESBYTERIAN CHURCH,LOS ANGELES,CA,TITHE,43000,True,NaN,201812
3,815254669,MANHEE KOJU FOUNDATION,KOREA TOWN SENIOR AND COMMUNITY CENTER,LOS ANGELES,CA,DONATION,2000,True,NaN,201812
4,815254669,MANHEE KOJU FOUNDATION,SHRINERS FOR CHILDREN MEDICAL CENTE,PASADENA,CA,DONATIONS,5000,True,NaN,201812
5,815262949,BASIS IMPACT GROUP FOUNDATION INC,Individual recipient,PLYMOUTH MEETING,PA,SUMMER INTERNSHIP,32041,True,NaN,201812

In [14]:
df_grants['Purpose'].nunique()

183002

In [15]:
df_grants.shape

(913386, 10)

In [16]:
df.shape

(123582, 42)

In [17]:
df.head()

,For non-commerical use only,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,EIN,Foundation name,Street,City,State,ZIP,Website,Email,Phone,NTEE code,...,App phone,App street,App city,App state,App ZIP,Grant maximum,Grant count,990-PF required,Tax period BMF,Tax period 990-PF
1,731552150,LUCILLE AND HARROLD PETERSON FOUNDATION,320 N BROADWAY STE 109,EDMOND,OK,73034-3642,NaN,NaN,NaN,T22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201811,NaN
2,731552427,SANDAGO PRESTON FAMILY FOUNDATION INC,2252 E 30TH ST,TULSA,OK,74114-5428,NaN,NaN,+1 (918) 742-6200,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201712,NaN
3,731552681,ROSS FAMILY FOUNDATION,210 PARK AVE STE 3150,OKLAHOMA CITY,OK,73102-5604,NaN,NaN,NaN,B82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201712,NaN
4,731552711,THE TEUBNER FOUNDATION,100 E 7TH AVE,STILLWATER,OK,74074-4022,NaN,NaN,+1 (405) 533-2455,T22,...,NaN,NaN,NaN,NaN,NaN,50000,4,True,201712,201712

In [18]:
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header

In [19]:
df.head()

,EIN,Foundation name,Street,City,State,ZIP,Website,Email,Phone,NTEE code,...,App phone,App street,App city,App state,App ZIP,Grant maximum,Grant count,990-PF required,Tax period BMF,Tax period 990-PF
1,731552150,LUCILLE AND HARROLD PETERSON FOUNDATION,320 N BROADWAY STE 109,EDMOND,OK,73034-3642,NaN,NaN,NaN,T22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201811,NaN
2,731552427,SANDAGO PRESTON FAMILY FOUNDATION INC,2252 E 30TH ST,TULSA,OK,74114-5428,NaN,NaN,+1 (918) 742-6200,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201712,NaN
3,731552681,ROSS FAMILY FOUNDATION,210 PARK AVE STE 3150,OKLAHOMA CITY,OK,73102-5604,NaN,NaN,NaN,B82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201712,NaN
4,731552711,THE TEUBNER FOUNDATION,100 E 7TH AVE,STILLWATER,OK,74074-4022,NaN,NaN,+1 (405) 533-2455,T22,...,NaN,NaN,NaN,NaN,NaN,50000,4,True,201712,201712
5,731553170,MARGARET VIVIAN BILBY FOUNDATION,6303 N PORTLAND AVE STE 304,OKLAHOMA CITY,OK,73112-1466,NaN,NaN,NaN,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201810,NaN

In [20]:
pd.set_option("display.max_columns", None)

In [21]:
df.head()

,EIN,Foundation name,Street,City,State,ZIP,Website,Email,Phone,NTEE code,NTEE description,Subsection,Deductible,Assets book value,Income,Exempt as of,Expenses,Contributions made,Contributions received,Activity 1,Activity 1 expense,Activity 2,Activity 2 expense,Activity 3,Activity 3 expense,Activity 4,Activity 4 expense,App preselect,App deadline,App restrictions,App form,App contact,App phone,App street,App city,App state,App ZIP,Grant maximum,Grant count,990-PF required,Tax period BMF,Tax period 990-PF
1,731552150,LUCILLE AND HARROLD PETERSON FOUNDATION,320 N BROADWAY STE 109,EDMOND,OK,73034-3642,NaN,NaN,NaN,T22,Private Independent Foundations,501(c)(3),True,1634288,147278,200003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201811,NaN
2,731552427,SANDAGO PRESTON FAMILY FOUNDATION INC,2252 E 30TH ST,TULSA,OK,74114-5428,NaN,NaN,+1 (918) 742-6200,T20,Private Grantmaking Foundations,501(c)(3),True,30410,13715,199901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201712,NaN
3,731552681,ROSS FAMILY FOUNDATION,210 PARK AVE STE 3150,OKLAHOMA CITY,OK,73102-5604,NaN,NaN,NaN,B82,"Scholarships, Student Financial Aid Services, ...",501(c)(3),True,28817,3262,199901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201712,NaN
4,731552711,THE TEUBNER FOUNDATION,100 E 7TH AVE,STILLWATER,OK,74074-4022,NaN,NaN,+1 (405) 533-2455,T22,Private Independent Foundations,501(c)(3),True,495533,169490,200005,98768,67600,33000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50000,4,True,201712,201712
5,731553170,MARGARET VIVIAN BILBY FOUNDATION,6303 N PORTLAND AVE STE 304,OKLAHOMA CITY,OK,73112-1466,NaN,NaN,NaN,T20,Private Grantmaking Foundations,501(c)(3),True,1510577,243726,199901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,201810,NaN

In [23]:
df['NTEE description'].value_counts()

Private Grantmaking Foundations                         38649
Private Independent Foundations                         27923
Named Trusts/Foundations N.E.C.                          6287
Scholarships, Student Financial Aid Services, Awards     5643
Single Organization Support                              5515
                                                        ...
Autism Research                                             1
Correctional Facilities N.E.C.                              1
Seniors' Rights                                             1
Volunteers of America                                       1
Reproductive Rights                                         1
Name: NTEE description, Length: 432, dtype: int64

In [25]:
uv = pd.read_csv("data/UnverifiedCommittees.csv")

In [26]:
uv.shape

(1011, 5)

In [27]:
uv.head()

,committee_id,committee_name,filed_cmte_tp_desc,first_receipt_dt,filings_url
0,C00622357,'D'MAC KINGDOM' THE GOOD NEWS OF HEALING & UNI...,PRESIDENTIAL,25-JUL-16,https://www.fec.gov/data/filings/?data_type=pr...
1,C00585588,'MURICAN MOUSE CAMPAIGN,PRESIDENTIAL,30-AUG-15,https://www.fec.gov/data/filings/?data_type=pr...
2,C00708131,10 STACKS TO THE FIRST MFER WHO HITS DONALD TR...,POLITICAL ACTION COMMITTEE (PAC),02-JUN-19,https://www.fec.gov/data/filings/?data_type=pr...
3,C00655464,420 PET AND ELDER CARE,POLITICAL ACTION COMMITTEE (PAC),14-SEP-17,https://www.fec.gov/data/filings/?data_type=pr...
4,P60016268,"A$$, DAT PHAT",PRESIDENTIAL,29-SEP-15,https://www.fec.gov/data/filings/?data_type=pr...

In [28]:
uv['filings_url'][1]

'https://www.fec.gov/data/filings/?data_type=processed&committee_id=C00585588'

In [29]:
dota = pd.read_csv("data/dota2Train.csv")

In [30]:
dota.head()

,-1,223,2,2.1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,1,0.9,0.10,0.11,1.1,0.12,0.13,0.14,-1.1,0.15,0.16,0.17,-1.2,0.18,0.19,1.2,0.20,0.21,1.3,0.22,0.23,0.24,1.4,0.25,0.26,0.27,0.28,0.29,-1.3,0.30,0.31,0.32,0.33,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,0.43,0.44,0.45,0.46,0.47,0.48,0.49,0.50,0.51,0.52,0.53,0.54,0.55,0.56,0.57,0.58,0.59,0.60,0.61,0.62,0.63,0.64,-1.4,0.65,0.66,0.67,0.68,0.69,0.70,0.71,0.72,0.73,0.74,0.75,0.76,0.77,-1.5,0.78,0.79,0.80,0.81,0.82,0.83,0.84,0.85,0.86,0.87,0.88,0.89,0.90,0.91,0.92,0.93,0.94,0.95,0.96,0.97,0.98,0.99,0.100,0.101,0.102
0,1,152,2,2,0,0,0,1,0,-1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,1,1,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,131,2,2,0,0,0,1,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,154,2,2,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0
3,-1,171,2,3,0,0,0,0,0,-1,0,0,-1,0,-1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,122,2,3,0,1,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,-1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,-1

In [32]:
shop = pd.read_csv('data/online_shoppers_intention.csv')

In [34]:
shop.head(30)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
5,0,0.0,0,0.0,19,154.216667,0.015789,0.024561,0.000000,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
6,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.4,Feb,2,4,3,3,Returning_Visitor,False,False
7,1,0.0,0,0.0,0,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,2,1,5,Returning_Visitor,True,False
8,0,0.0,0,0.0,2,37.000000,0.000000,0.100000,0.000000,0.8,Feb,2,2,2,3,Returning_Visitor,False,False
9,0,0.0,0,0.0,3,738.000000,0.000000,0.022222,0.000000,0.4,Feb,2,4,1,2,Returning_Visitor,False,False
10,0,0.0,0,0.0,3,395.000000,0.000000,0.066667,0.000000,0.0,Feb,1,1,3,3,Returning_Visitor,False,False
11,0,0.0,0,0.0,16,407.750000,0.018750,0.025833,0.000000,0.4,Feb,1,1,4,3,Returning_Visitor,False,False
12,0,0.0,0,0.0,7,280.500000,0.000000,0.028571,0.000000,0.0,Feb,1,1,1,3,Returning_Visitor,False,False
13,0,0.0,0,0.0,6,98.000000,0.000000,0.066667,0.000000,0.0,Feb,2,5,1,3,Returning_Visitor,False,False
14,0,0.0,0,0.0,2,68.000000,0.000000,0.100000,0.000000,0.0,Feb,3,2,3,3,Returning_Visitor,False,False
15,2,53.0,0,0.0,23,1668.285119,0.008333,0.016313,0.000000,0.0,Feb,1,1,9,3,Returning_Visitor,False,False
16,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,4,3,Returning_Visitor,False,False
17,0,0.0,0,0.0,13,334.966667,0.000000,0.007692,0.000000,0.0,Feb,1,1,1,4,Returning_Visitor,True,False
18,0,0.0,0,0.0,2,32.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
19,0,0.0,0,0.0,20,2981.166667,0.000000,0.010000,0.000000,0.0,Feb,2,4,4,4,Returning_Visitor,False,False
20,0,0.0,0,0.0,8,136.166667,0.000000,0.008333,0.000000,1.0,Feb,2,2,5,1,Returning_Visitor,True,False
21,0,0.0,0,0.0,2,0.000000,0.200000,0.200000,0.000000,0.0,Feb,3,3,1,3,Returning_Visitor,False,False
22,0,0.0,0,0.0,3,105.000000,0.000000,0.033333,0.000000,0.0,Feb,3,2,1,5,Returning_Visitor,False,False
23,0,0.0,0,0.0,2,15.000000,0.000000,0.100000,0.000000,0.8,Feb,2,4,1,3,Returning_Visitor,False,False
24,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,2,2,4,1,Returning_Visitor,True,False
25,0,0.0,0,0.0,5,156.000000,0.000000,0.040000,0.000000,0.0,Feb,1,1,9,3,Returning_Visitor,False,False
26,4,64.6,0,0.0,32,1135.444444,0.002857,0.009524,0.000000,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
27,0,0.0,0,0.0,4,76.000000,0.050000,0.100000,0.000000,0.0,Feb,1,1,1,3,Returning_Visitor,False,False
28,0,0.0,0,0.0,4,63.000000,0.000000,0.050000,0.000000,0.2,Feb,2,6,1,3,Returning_Visitor,False,False
29,1,6.0,1,0.0,45,1582.750000,0.043478,0.050821,54.179764,0.4,Feb,3,2,1,1,Returning_Visitor,False,False